@import './src/assets/fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white;
}
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.35s ease-out;
}
@keyframes dropdownOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
}

.animate-dropdown-out {
  animation: dropdownOut 0.35s ease-in forwards;
}